body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container>header {
    height: 80px;
    border-bottom: 1px solid #5c5c5c;
}

.container>nav {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items:center;
    border-bottom: 1px solid #5c5c5c;
    font-size: 18px;

}

.container>main {
    min-height: 400px;
    border-bottom: 1px solid #5c5c5c;
}

.container>footer {
    height: 90px;
}
/*FORM*/
/* .border-black{
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-black-rgb), var(--bs-border-opacity)) !important;
} */
/* thanhphantrang */

.thanhphantrang {
    list-style: none;
    text-align: center;
}

.thanhphantrang li {
    display: inline-block;
    margin: 5px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
}

.thanhphantrang li a {
    color: #5c5c5c;
    font-weight: bold;
}

.thanhphantrang li.selected a {
    color: #000;
}

.thanhphantrang li a:hover {
    color: #000;
    cursor: pointer;
}


  